@model IEnumerable<KnowledgeBox.Models.Item>
@{
    ViewBag.Title = "MyResources";
}

<div class="container" style="height: 712px; width: 980px;padding-top:20px;padding-right: 0px;padding-left: 0px;margin-right: auto;margin-left: auto">
    <div class="row" style="margin:0">
        <div class="col-md-12" style="z-index:100">
            @foreach (var item in Model)
            {
                <div class="item" style="background: rgb(242, 145, 41);height: 54px; margin-top: 12px;">
                    <img style="float:left" src="/Files/@item.ContentType.ContentType_Thumbnail" />
                    <div style="width:600px; height:100%; line-height:50px;float:left;margin-left:10px">@item.Item_Description</div>
                    <div style="height: 100%; line-height: 50px; float: left; margin-left: 10px;cursor:pointer" class="cartItemRemove" data-item-name="@item.Item_Description" data-item-id="@item.Item_Id">Remove</div>
                    <div style="height: 100%; line-height: 50px; float: left; margin-left: 10px">
                        <div style="cursor:pointer" class="viewer" data-title="@item.Item_Description" data-toggle="modal" data-target="#myModal" data-file="@item.Item_FilePath" data-contenttype="@item.ContentType.ContentType_Description">View Resource</div>
                    </div>
                </div>
            }
            <div style="margin: 8px 0 0 15px">
                @using (Html.BeginForm("RemoveCart", "Admin", new { @cartId = ViewBag.CartId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="">
                            <button type="submit" class="orangeButton">Download My Resources</button><br />
                            @ViewBag.Result
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
