@model PagedList.IPagedList<KnowledgeBox.Models.Item>
@using PagedList.Mvc;
@{
    ViewBag.Title = "SearchResult";
}
<style>
    .viewer {
        text-decoration: underline;
        color: #FFF;
    }

    .cartItem {
        text-decoration: underline;
        color: rgb(63, 125, 53);
    }
</style>
<div class="container" style="height: 712px; width: 980px;padding-top:20px;padding-right: 0px;padding-left: 0px;margin-right: auto;margin-left: auto">
    <div class="row" style="margin:0">
        <div class="col-md-12" style="z-index:100">
            @foreach (var item in Model)
            {
                <div style="background: rgb(242, 145, 41);height: 54px; margin-top: 12px;">
                    <img style="float:left" src="/Files/@item.ContentType.ContentType_Thumbnail" />
                    <div style="width:600px; height:100%; line-height:50px;float:left;margin-left:10px">@item.Item_Description</div>

                    <div style="height: 100%; line-height: 50px; float: left; margin-left: 10px">
                        <div style="cursor:pointer" class="viewer" data-toggle="modal" data-target="#myModal" data-title="@item.Item_Description" data-file="@item.Phase.Phase_Description/@item.Item_FilePath" data-contenttype="@item.ContentType.ContentType_Description">View</div>
                    </div>
                    <div style="height: 100%; line-height: 50px; float: left; margin-left: 20px;cursor:pointer" class="cartItem" data-item-name="@item.Item_Description" data-item-id="@item.Item_Id">Add to Cart</div>
                </div>
            }
            <div>
                @if (@Model.PageCount > 1)
                {
                    @Html.PagedListPager(Model, page => Url.Action("MyResources", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, cartId = ViewBag.CartId }))
                }
            </div>
        </div>
    </div>
</div>
