<div class="navbar navbar-inverse" role="navigation" style="border-radius: 0px; margin-bottom: 0px; background: #b3bd4d; border: none; border-top-left-radius: 3px; border-top-right-radius: 3px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="menu">
      <ul class="menu" style="font-family: 'League Gothic Regular',Arial,sans-serif;">
        <li class=""><a href="@Url.Action("/")">Items</a></li>
        <li><a href="@Url.Action("Subject")">Subject</a></li>
        <li><a href="@Url.Action("Target")">Target</a></li>
        <li><a href="@Url.Action("Phase")">Phase</a></li>
        <li><a href="@Url.Action("ContentType")">Content Type</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<script>
  $(document).ready(function () {
    $('a').each(function () {
      if ($(this).attr("href") == location.pathname) {
        $(this).css("color", "yellow");
      }
    });
  });
</script>