<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Knowledge Box</title>
  <link href='http://fonts.googleapis.com/css?family=Jura:400,600' rel='stylesheet' type='text/css'>
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width" />
  @Styles.Render("~/Content/css")
  <link href="~/Content/bootstrap.css" rel="stylesheet" />
  @Scripts.Render("~/bundles/modernizr")
  <link href="~/Content/knowledgeBox.css" rel="stylesheet" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.2.12/jquery.jgrowl.min.css" />
  <script src="~/Scripts/jquery-1.9.0.js"></script>
  <script src="~/Scripts/bootstrap.js"></script>
  <script src="~/Scripts/jquery.cookie.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.2.12/jquery.jgrowl.min.js"></script>
  <script src="~/Scripts/bootbox.min.js"></script>
  <script src="~/Scripts/KnowledgeBox.js"></script>
  <script src="~/Scripts/swfobject.js"></script>
</head>
<body>
  <header style="width: 100%; margin: 0 auto;">
    <div class="kb_Menu" style="background: #000000; text-align: center;">
      <div style="width: 980px; margin: 0 auto">
        <ul>
          <li style="border-right: 1px solid #FFFFFF">@Html.ActionLink("Home", "Index", "Home")</li>
          <!--<li style="border-right: 1px solid #FFFFFF">@Html.ActionLink("About", "About", "Home")</li>-->
          <li style="border-right: 1px solid #FFFFFF">@Html.ActionLink("Contact Us", "Contact", "Home")</li>
          <li style="border-right: 1px solid #FFFFFF">@Html.ActionLink("Search", "Search", "Home")<img src="/Images/searchMenu.png" /></li>
          <li style="border-right: 1px solid #FFFFFF" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources </a>
            <ul class="dropdown-menu" role="menu" style="width:auto;height:auto;font-weight:normal;font-size:13px">
              <li style="line-height:30px">@Html.ActionLink("Foundation Phase", "Foundation", "Home", null, new { style = "font-size:13px;color:#000" })</li>
              <li style="line-height:30px">@Html.ActionLink("Intermediate Phase", "Intermediate", "Home", null, new { style = "font-size:13px;color:#000" })</li>
              <li style="line-height:30px">@Html.ActionLink("Senior Phase", "Senior", "Home", null, new { style = "font-size:13px;color:#000" })</li>
              <li style="line-height:30px">@Html.ActionLink("FET", "Further", "Home", null, new { style = "font-size:13px;color:#000" })</li>
              <li style="line-height:30px">@Html.ActionLink("Teachers Cool Tools", "SearchResult", "Admin", new { @phaseId = 5, @subjectId = 2042, @pageLink = "/Admin/SearchResult" }, new { style = "font-size:13px;color:#000" })</li>              
            </ul>
          </li>
          <li>@Html.ActionLink("My Resources", "MyResources", "Admin", null, new { @class = "myResourcesLink" })><img style="position:relative" id="cartImage" src="~/Images/Cart.png" /></li>
        </ul>
      </div>
      <div style="background: rgb(102, 102, 102); height: 160px;">
        <div style="width: 980px; margin: 0 auto;">
          <div class="" style="float:left;">
            <img src="~/Images/KnowledgeBoxLogo.png" />
          </div>
          <div class="" style="float:right;">
            <img src="~/Images/BrightMediaLogo.png" />
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="body">
    @RenderSection("featured", required: false)
    <section class="content-wrapper main-content clear-fix">
      @RenderBody()
    </section>
  </div>
  <footer>
    <div class="container" style="width: 980px;padding-right: 0px;padding-left: 0px;margin-right: auto;margin-left: auto">
      <div class="row" style="margin:0">
        <div class="col-md-12" style="color: #FFF; z-index:100">
          <div class="col-md-4" style="font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;font-size: 14px;">
            <br />
            Contact Us<br />
            <div style="padding:6px 0 6px 0"><a class="orangeLink" style="color:#fff" href="ingrid@brightmedia.co.za">info@brightmedia.co.za</a></div>
            <div style="padding: 6px 0 6px 0">+27 11 326 6733</div>
          </div>
          <div class="col-md-4" style="font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;font-size: 14px;">
            <br />
            @Html.ActionLink("Legal Disclaimer", "Legal", null, new { @class = "orangeLink", style = "color:#fff" })
          </div>
          <div class="col-md-4" style="font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;font-size: 14px;">
            <br />
            <div style="color:#FFF">
              Let's Connect
            </div>
          </div>
          <div class="col-md-12" style="color: #FFF; z-index: 100; margin-right: auto; margin-left: auto;text-align:center">
            © 2014 Bright Media
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-x-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body" style="text-align:center">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  @RenderSection("scripts", required: false)
  <div id="cartItemNumber" style="position: absolute; color: #FFF; opacity: 0.8; filter: alpha(opacity=80); text-align: center; font-size: 30px; "></div>
</body>
</html>
