@{
    ViewBag.Title = "Further";
}

<div class="container" style="height: 712px; width: 980px;padding-right: 0px;padding-left: 0px;margin-right: auto;margin-left: auto">
    <div class="row" style="margin:0">
        <div class="col-md-12" style="z-index:100">
            <div style="text-align: center; font-family: Liberation;color:#FFF;font-size:30px">
                Further Education and Training - FET
            </div>
            <br />
            <div class="col-md-6" style="">
                <div style="margin-right: auto; margin-left: auto;width:305px; text-align: center; font-family: Liberation; color: #FFF; font-size: 18px; font-weight: bold; background: rgb(242, 145, 41);">
                    <a class="orangeLink" style="color:#FFF" href="@Url.Action("SearchResult", "Admin", new { @phaseId = 3, @subjectId = 1003, @pageLink="/Home/Further" })">
                        <img style="margin-left:-120px" src="~/Images/LanguageRes.jpg" /><span style="margin-left:8px">Languages Resources</span>
                    </a>
                </div>
                <div style="margin-right: auto; margin-left: auto;width:305px; text-align: center; font-family: Liberation; color: #FFF; font-size: 18px; font-weight: bold; background: rgb(242, 145, 41);margin-top:20px">
                    <a class="orangeLink" style="color:#FFF" href="@Url.Action("SearchResult", "Admin", new { @phaseId = 3, @subjectId = 1, @pageLink="/Home/Further" })">
                        <img style="margin-left:-120px" src="~/Images/MathenaticsRes.jpg" /><span style="margin-left:8px">Mathematics Resources</span>
                    </a>
                </div>
                <div style="margin-right: auto; margin-left: auto;width:305px; text-align: center; font-family: Liberation; color: #FFF; font-size: 18px; font-weight: bold; background: rgb(242, 145, 41);margin-top:20px">
                    <a class="orangeLink" style="color:#FFF" href="@Url.Action("SearchResult", "Admin", new { @phaseId = 3, @subjectId = 1006, @pageLink="/Home/Further" })">
                        <img style="margin-left:-100px" src="~/Images/LifeOrientationRes.jpg" /><span style="margin-left:8px">Life Orientation Resources</span>
                    </a>
                </div>
                <div style="margin-right: auto; margin-left: auto;width:305px; text-align: center; font-family: Liberation; color: #FFF; font-size: 18px; font-weight: bold; background: rgb(242, 145, 41);margin-top:20px">
                    <a class="orangeLink" style="color:#FFF" href="@Url.Action("SearchResult", "Admin", new { @phaseId = 3, @subjectId = 1008, @pageLink="/Home/Further" })">
                        <img style="margin-left:-110px" src="~/Images/CreativeArtsRes.jpg" /><span style="margin-left:8px">Creative Arts Resources</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div style="height:73px;margin-right: auto; margin-left: auto;width:305px;font-family: Liberation; color: #FFF; font-size: 18px; font-weight: bold; background: rgb(242, 145, 41);">
                    <a class="orangeLink" style="color:#FFF" href="@Url.Action("SearchResult", "Admin", new { @phaseId = 3, @subjectId = 1004, @pageLink="/Home/Further" })">
                        <img style="float:left; margin-left:-40px;margin-right:10px" src="~/Images/EconomicManagementRes.jpg" /><div style="padding-left:28px;margin-top:-15px">Economic and Management Sciences Resources</div>
                    </a>
                </div>
                <div style="height: 73px; margin-right: auto; margin-left: auto; width: 305px; font-family: Liberation; color: #FFF; font-size: 18px; font-weight: bold; background: rgb(242, 145, 41); margin-top: 20px">
                    <a class="orangeLink" style="color:#FFF" href="@Url.Action("SearchResult", "Admin", new { @phaseId = 3, @subjectId = 1005, @pageLink="/Home/Further" })">
                        <img style="float:left; margin-left:-40px;margin-right:10px" src="~/Images/TechnologyRes.jpg" /><div style="padding-left:28px;">Technology Resources</div>
                    </a>
                </div>
                <div style="height: 73px; margin-right: auto; margin-left: auto; width: 305px; font-family: Liberation; color: #FFF; font-size: 18px; font-weight: bold; background: rgb(242, 145, 41); margin-top: 20px">
                    <a class="orangeLink" style="color:#FFF" href="@Url.Action("SearchResult", "Admin", new { @phaseId = 3, @subjectId = 1007, @pageLink="/Home/Further" })">
                        <img style="float:left; margin-left:-40px;margin-right:10px" src="~/Images/NaturalSciencesRes.jpg" /><div style="padding-left:28px;">Natural Sciences Resources</div>
                    </a>
                </div>
                <div style="height: 73px; margin-right: auto; margin-left: auto; width: 305px; font-family: Liberation; color: #FFF; font-size: 18px; font-weight: bold; background: rgb(242, 145, 41); margin-top: 20px">
                    <a class="orangeLink" style="color:#FFF" href="@Url.Action("SearchResult", "Admin", new { @phaseId = 3, @subjectId = 1009, @pageLink="/Home/Further" })">
                        <img style="float:left; margin-left:-40px;margin-right:10px" src="~/Images/SocialSciencesRes.jpg" /><div style="padding-left:28px;">Social Sciences Resources</div>
                </div>
            </div>
        </div>
    </div>
</div>


