@{
    ViewBag.Title = "Phases";
}

<div class="container" style="font-family:liberation; height: 712px; width: 980px;padding-right: 0px;padding-left: 0px;margin-right: auto;margin-left: auto;padding-top:20px">
    <div class="row" style="margin:0">
        <div class="col-md-12" style="z-index:100">
            <div style="background: #FFFFFF; margin: 0 auto; vertical-align: middle; padding: 10px; border-bottom: 7px solid rgb(247, 197, 144)">
                <img style="float: left; margin-right: 8px;" src="~/Images/Phases_FoundationPhase.jpg" />
                <div style="height: 143px;">
                    <div style="font-size:22px;font-weight:bold">Foundation Phase</div>
                    <div style="font-size:16px;">Here you will find resources for <b>Grades R - 3.</b>  This includes Literacy, Numeracy and Life Skills focus areas. Browse through this section for many other interesting and fun resources for this phase.</div>
                    <div style="margin-top:12px;float:right">
                        <a href="@Url.Action("Foundation", "Home")" class="orangeLink">
                            <div class="orangeButton orangeButtonSmall" style="padding-top:8px">
                                <span>Find Resources ></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div style="background: #FFFFFF; margin: 0 auto; vertical-align: middle; padding: 10px; border-bottom: 7px solid rgb(247, 197, 144)">
                <img style="float:left;margin-right:8px;" src="~/Images/Phases_IntermediatePhase.jpg" />
                <div style="height: 143px;">
                    <div style="font-size:22px;font-weight:bold;padding-left:4px">Intermediate Phase</div>
                    <div style="font-size: 16px;; padding-left: 4px">Here you will find resources for <b>Grades 4 -6.</b> This includes Languages, Mathematics, Life Skills, Natural Sciences and Technology (NS & T), Social Sciences (Geography and History), and many other interesting resources relevant to this phase. </div>
                    <div style="margin-top:-10px;float:right">
                        <a href="@Url.Action("Intermediate", "Home")" class="orangeLink">
                            <div class="orangeButton orangeButtonSmall" style="padding-top:8px">
                                <span>Find Resources ></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div style="background: #FFFFFF; margin: 0 auto; vertical-align: middle; padding: 10px; border-bottom: 7px solid rgb(247, 197, 144)">
                <img style="float:left;margin-right:8px;" src="~/Images/Phases_SeniorPhase.jpg" />
                <div style="height: 143px;">
                    <div style="font-size:22px;font-weight:bold;padding-left:4px">Senior Phase</div>
                    <div style="font-size: 16px;; padding-left: 4px">Here you will find resources for <b>Grades 7 -9.</b> This includes Languages, Mathematics, Life Orientation, Economic and Management Sciences (EMS), Natural Sciences (NS), Social Sciences (SS), Technology, Creative Arts and many other interesting resources relevant to this phase.</div>
                    <div style="margin-top:-10px;float:right">
                        <a href="@Url.Action("Senior", "Home")" class="orangeLink">
                            <div class="orangeButton orangeButtonSmall" style="padding-top:8px">
                                <span>Find Resources ></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div style="background: #FFFFFF; margin: 0 auto; vertical-align: middle; padding: 10px; border-bottom: 7px solid rgb(247, 197, 144)">
                <img style="float:left;margin-right:8px;" src="~/Images/Phases_FETPhase.jpg" />
                <div style="height: 143px;">
                    <div style="font-size:22px;font-weight:bold;padding-left:4px">Further Education and Training (FET) Phase</div>
                    <div style="font-size: 16px;; padding-left: 4px">Here you will find resources for <b>Grades 10 - 12.</b> This includes Languages, Mathematics, Mathematical Literacy, Life Orientation, Geography, History, Life Sciences, Physical Sciences, Accounting, Dance Studies, Computer Applications Technology (CAT), etc. and many other interesting resources relevant to this phase.</div>
                    <div style="margin-top:-34px;float:right">
                        <a href="@Url.Action("Further", "Home")" class="orangeLink">
                            <div class="orangeButton orangeButtonSmall" style="padding-top:8px">
                                <span>Find Resources ></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div style="background: #FFFFFF; margin: 0 auto; vertical-align: middle; padding: 10px; border-bottom: 7px solid rgb(247, 197, 144)">
                <img style="float:left;margin-right:8px;" src="~/Images/Phases_CoolToolsPhase.jpg" />
                <div style="height: 143px;">
                    <div style="font-size:22px;font-weight:bold;padding-left:4px">Teacher's Cool Tools</div>
                    <div style="font-size: 16px;; padding-left: 4px">Here you will find <b>teacher's resources</b> for designing worksheets, generating tests, programmes used to draw pictures or edit images, etc. You just have to browse through this section to see all the fun and interesting cool tools for teachers.</div>
                    <div style="margin-top:-10px;float:right">
                        <a href="@Url.Action("SearchResult", "Admin", new { @phaseId = 5, @subjectId = 2042, @pageLink = "/Home/Phases" })" class="orangeLink">
                            <div class="orangeButton orangeButtonSmall" style="padding-top:8px">
                                <span>Find Resources ></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


